@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url("../images/bg-intro-desktop.png"), #ff7978;
  width: 1440px;
  height: 800px;
}

.left {
  max-width: 450px;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  margin: 0 75px 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: white;
  padding-bottom: 20px;
}

.left p {
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.right {
  margin: 0 auto 0 0;
  max-width: 475px;
  max-height: 550px;
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right .offer {
  background: #5d54a3;
  height: 60px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 10px 0px -3px #d86666;
          box-shadow: 0px 10px 0px -3px #d86666;
}

.right .offer p {
  margin: 0 auto;
  color: white;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
}

.right .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 700px;
  padding: 40px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0px 10px 0px -3px #db6466;
          box-shadow: 0px 10px 0px -3px #db6466;
}

.right .card input {
  margin-bottom: 20px;
  min-height: 57px;
  border-radius: 10px;
  width: 100%;
  color: black;
  font-weight: 500;
  text-indent: 10px;
  outline: none;
  border: 1px solid black;
}

.right .card ::-webkit-input-placeholder {
  color: #b0b0b2;
  font-weight: 500;
}

.right .card :-ms-input-placeholder {
  color: #b0b0b2;
  font-weight: 500;
}

.right .card ::-ms-input-placeholder {
  color: #b0b0b2;
  font-weight: 500;
}

.right .card ::placeholder {
  color: #b0b0b2;
  font-weight: 500;
}

.right .card button {
  max-height: 55px;
  width: 100%;
  border: none;
  background: #37cc8a;
  -webkit-box-shadow: 0px 5px 10px -6px #54ac86;
          box-shadow: 0px 5px 10px -6px #54ac86;
  border-radius: 20px;
  height: 60px;
  color: white;
  margin-bottom: 20px;
}

.right .card p {
  margin: 0 auto;
  color: #d6d5db;
  font-weight: 400;
  font-size: 8px;
}

.right .card p a {
  color: #fa898b;
}

.right .card .error {
  color: #fa898b;
  padding-left: 50%;
  margin-top: -10px;
  margin-bottom: 10px;
  display: none;
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}

.right .card .error-icon1, .right .card .error-icon2, .right .card .error-icon3, .right .card .error-icon4 {
  position: absolute;
  bottom: 45px;
  right: 10px;
  content: url("../images/icon-error.svg");
  display: none;
}

.right .card .firstName, .right .card .lastName, .right .card .email, .right .card .password {
  position: relative;
}

@media screen and (max-width: 1439px) {
  body {
    height: initial;
    display: initial;
  }
  .container {
    background: url("../images/bg-intro-mobile.png"), #ff7978;
    width: 99%;
    height: initial;
    min-height: 95vh;
    padding: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .left {
    margin: 0;
  }
  .left h1 {
    text-align: center;
  }
  .left p {
    text-align: center;
  }
  .right {
    max-height: 800px;
    margin: 0;
    padding: 5px;
  }
  .right .offer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .right .offer p {
    margin: 10px 20px;
    font-size: 18px;
    line-height: 40px;
  }
  .right .card {
    padding-bottom: 0;
  }
  .right .card .error {
    float: right;
    padding-left: 0;
  }
}

@media screen and (max-width: 974px) {
  .container {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}
/*# sourceMappingURL=styles.css.map */